<div class="alert alert-danger">
    <h5>Meesage:</h5>
    <hr />
    <p>@ViewBag.ErrorMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Path:</h5>
    <hr />
    <p>@ViewBag.Path</p>
</div>
